# files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.bcf
*.xml
*.png
*.jpeg
*.jpg
 *.pyc

# folders
.vscode/
.ipynb_checkpoints/
__pycache__/
outs/
outs_old/

# non-public data
data/pdtb_mixed_resolved_forCASE_final.csv
data/pdtb_mixed_resolved_forCASE_final_rsampled.csv
data/dev_subtask1.csv
data/dev_subtask2.csv
data/test_subtask1.csv
data/test_subtask2.csv
