# files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.bcf
*.xml
*.jpg
 *.pyc

# folders
.vscode/
.ipynb_checkpoints/
__pycache__/
outs/
outs_old/

# non-public data
pdtb_mixed_resolved_forCASE_final.csv
pdtb_mixed_resolved_forCASE_final_rsampled.csv

# test sets
test_subtask1.csv
test_subtask2.csv
test_subtask2_grouped.csv
data/V2/*_wevents.csv
